* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("../IMG/bg-desktop-light.jpg");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 800px;
    height: 56px;
    border-radius: 8px;

    text-decoration: none;
    color: black;
  }
}
